<connectionStrings>
    <add name="boa-rc-control-panel-db" connectionString="Server=localhost;Database=boa-rc-control-panel;User ID=sa;Password=123;" providerName="System.Data.SqlClient" />
    <add name="boa-sandpit-control-panel-db" connectionString="Server=localhost;Database=boa-sandpit-control-panel;User ID=sa;Password=123;TrustServerCertificate=False;Encrypt=True;MultipleActiveResultSets=False;Connection Timeout=3600;Persist Security Info=True;Application Name=DataConversion" providerName="System.Data.SqlClient" />
</connectionStrings>
